<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

<br />
<p>
	Splurty was built by <a target="_blank" href="http://github.com/AlanKoger">Alan Koger</a>. He's a gym owner who has always had an interest in the computers and technology. Eventually he wants to create his own gym/personal training software to help other gym owners with client management and tracking.
</p>
<br />
<p>
	After being the go to tech guy at his personal training studio, as well as helping friends and family fix their computers over the years, he realized that computers were his passion. He wants to translate this into a successful career as a software architect.  He would love to help small businesses create streamlined operations through technologically driven processes, systems, and communication.
</p>

<br />
<br />

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'alan-trainer-profile-pic.jpg', class:'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Alan Koger</h2>
	<br />
	<p>
		Alan Koger co-owns a personal training studio in Richmond, VA.  His experience of heading the operations and management of his own personal training studio (<a traget="_blank" href="http://www.redefinerva.com/")>ReDefineRVA</a>) has provided him with invaluable experience in a variety of subjects. He has helped grow his personal training client base from twelve clients, to over seventy, in under two years as a co-owner. Alan was previously a D1 soccer athlete at The College of William and Mary, and former professional soccer player for the New England Revolution of the MLS (Major League Soccer) in the top tier of American soccer. His drive and passion is what has led him to where he is today. He is now directing this passion toward a career in software development.
	</p>
</div>
</br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />